@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* TODO: We will remove below tokens after migration */
    /* --theme-background: 0 0% 100%; #ffffff */
    /* --theme-mine-shaft-dark: 0 0% 97%; #f7f7f7 */
    /* --theme-cloud-burst: 205 100% 93%; #d9efff */
    /* --theme-mine-shaft: 0 0% 7%; #111111 */

    --theme-background: 0 0% 7%; /* #111111 */
    --theme-mine-shaft-dark: 0 0% 16%; /* #292929 */
    --theme-cloud-burst: 215 35% 20%; /* #223146 */
    --theme-mine-shaft: 0 0% 23%; /* #3a3a3a */
    --theme-titan-white: 0 0% 95%; /* #f1f1f1 */

    /* Our design system related variables */

    /* Colors */
    --theme-yellow-25: 42 100% 98%; /* #FFFCF5 */
    --theme-yellow-50: 45 100% 96%; /* #FFFAEB */
    --theme-yellow-100: 45 96% 89%; /* #FEF0C7 */
    --theme-yellow-200: 44 98% 77%; /* #FEDF89 */
    --theme-yellow-300: 42 99% 65%; /* #FEC84B */
    --theme-yellow-400: 39 98% 56%; /* #FDB022 */
    --theme-yellow-500: 34 94% 50%; /* #F79009 */
    --theme-yellow-600: 28 97% 44%; /* #DC6803 */
    --theme-yellow-700: 22 92% 37%; /* #B54708 */
    --theme-yellow-800: 19 84% 31%; /* #93370D */
    --theme-yellow-900: 18 79% 27%; /* #7A2E0E */

    --theme-red-25: 12 100% 99%; /* #FFFBFA */
    --theme-red-50: 5 86% 97%; /* #FEF3F2 */
    --theme-red-100: 4 93% 94%; /* #FEE4E2 */
    --theme-red-200: 3 96% 89%; /* #FECDCA */
    --theme-red-300: 4 96% 80%; /* #FDA29B */
    --theme-red-400: 4 92% 69%; /* #F97066 */
    --theme-red-500: 4 86% 58%; /* #F04438 */
    --theme-red-600: 4 74% 49%; /* #D92D20 */
    --theme-red-700: 4 76% 40%; /* #B42318 */
    --theme-red-800: 4 72% 33%; /* #912018 */
    --theme-red-900: 8 65% 29%; /* #7A271A */

    --theme-green-25: 142 80% 98%; /* #F6FEF9 */
    --theme-green-50: 145 81% 96%; /* #ECFDF3 */
    --theme-green-100: 140 80% 90%; /* #D1FADF */
    --theme-green-200: 144 78% 80%; /* #A6F4C5 */
    --theme-green-300: 148 74% 67%; /* #6CE9A6 */
    --theme-green-400: 150 66% 52%; /* #32D583 */
    --theme-green-500: 152 82% 39%; /* #12B76A */
    --theme-green-600: 153 96% 30%; /* #039855 */
    --theme-green-700: 155 97% 24%; /* #027A48 */
    --theme-green-800: 155 90% 20%; /* #05603A */
    --theme-green-900: 156 88% 16%; /* #054F31 */

    --theme-blue-25: 198 100% 98%; /* #F5FCFF */
    --theme-blue-50: 201 100% 96%; /* #EBF8FF */
    --theme-blue-100: 203 89% 89%; /* #CCEAFC */
    --theme-blue-200: 206 88% 83%; /* #AFD9FA */
    --theme-blue-300: 211 89% 71%; /* #74B4F7 */
    --theme-blue-400: 217 91% 60%; /* #3B82F6 */
    --theme-blue-500: 218 70% 52%; /* #306FDB */
    --theme-blue-600: 220 70% 43%; /* #2153B8 */
    --theme-blue-700: 222 75% 33%; /* #153B94 */
    --theme-blue-800: 223 80% 24%; /* #0C286E */
    --theme-blue-900: 225 87% 15%; /* #051647 */

    --theme-sky-25: 192 100% 99%; /* #FAFEFF */
    --theme-sky-50: 198 100% 98%; /* #F5FCFF */
    --theme-sky-100: 199 100% 95%; /* #E6F7FF */
    --theme-sky-200: 202 100% 92%; /* #D4EFFF */
    --theme-sky-300: 206 92% 85%; /* #B3DCFC */
    --theme-sky-400: 212 96% 78%; /* #93C5FD */
    --theme-sky-500: 213 66% 68%; /* #76A7E3 */
    --theme-sky-600: 216 45% 53%; /* #517CBD */
    --theme-sky-700: 218 48% 40%; /* #355996 */
    --theme-sky-800: 220 59% 28%; /* #1E3A73 */
    --theme-sky-900: 222 70% 17%; /* #0D1F4A */

    --theme-neutrals-100: 210 67% 1%; /* #010305 */
    --theme-neutrals-200: 210 6% 12%; /* #1D1F21 */
    --theme-neutrals-300: 216 4% 77%; /* #C2C4C7 */
    --theme-neutrals-400: 216 2% 45%; /* #6F7174 */
    --theme-neutrals-500: 216 2% 45%; /* #6F7174 */
    --theme-neutrals-600: 216 2% 45%; /* #6F7174 */
    --theme-neutrals-700: 216 4% 77%; /* #C2C4C7 */
    --theme-neutrals-800: 210 10% 88%; /* #DDE0E3 */
    --theme-neutrals-900: 220 100% 99%; /* #F9FBFF */

    --navbar-height: calc((80 / 16) * 1rem);
    --leaderboard-width: calc((400 / 16) * 1rem);
    --tabpanel-width: calc((400 / 16) * 1rem);
    --sidebar-width: calc((88 / 16) * 1rem);
  }

  /* NOTE: Dark mode variables are same as root one. Since our new design system has only dark mode.
    This is for backward compatibility, so that if someone changes the theme to dark, it should work.
  */
  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* TODO: We will remove below tokens after migration */
    --theme-background: 0 0% 7%; /* #111111 */
    --theme-mine-shaft-dark: 0 0% 16%; /* #292929 */
    --theme-cloud-burst: 215 35% 20%; /* #223146 */
    --theme-mine-shaft: 0 0% 23%; /* #3a3a3a */
    --theme-titan-white: 0 0% 95%; /* #f1f1f1 */

    /* Colors */
    --theme-yellow-25: 42 100% 98%; /* #FFFCF5 */
    --theme-yellow-50: 45 100% 96%; /* #FFFAEB */
    --theme-yellow-100: 45 96% 89%; /* #FEF0C7 */
    --theme-yellow-200: 44 98% 77%; /* #FEDF89 */
    --theme-yellow-300: 42 99% 65%; /* #FEC84B */
    --theme-yellow-400: 39 98% 56%; /* #FDB022 */
    --theme-yellow-500: 34 94% 50%; /* #F79009 */
    --theme-yellow-600: 28 97% 44%; /* #DC6803 */
    --theme-yellow-700: 22 92% 37%; /* #B54708 */
    --theme-yellow-800: 19 84% 31%; /* #93370D */
    --theme-yellow-900: 18 79% 27%; /* #7A2E0E */

    --theme-red-25: 12 100% 99%; /* #FFFBFA */
    --theme-red-50: 5 86% 97%; /* #FEF3F2 */
    --theme-red-100: 4 93% 94%; /* #FEE4E2 */
    --theme-red-200: 3 96% 89%; /* #FECDCA */
    --theme-red-300: 4 96% 80%; /* #FDA29B */
    --theme-red-400: 4 92% 69%; /* #F97066 */
    --theme-red-500: 4 86% 58%; /* #F04438 */
    --theme-red-600: 4 74% 49%; /* #D92D20 */
    --theme-red-700: 4 76% 40%; /* #B42318 */
    --theme-red-800: 4 72% 33%; /* #912018 */
    --theme-red-900: 8 65% 29%; /* #7A271A */

    --theme-green-25: 142 80% 98%; /* #F6FEF9 */
    --theme-green-50: 145 81% 96%; /* #ECFDF3 */
    --theme-green-100: 140 80% 90%; /* #D1FADF */
    --theme-green-200: 144 78% 80%; /* #A6F4C5 */
    --theme-green-300: 148 74% 67%; /* #6CE9A6 */
    --theme-green-400: 150 66% 52%; /* #32D583 */
    --theme-green-500: 152 82% 39%; /* #12B76A */
    --theme-green-600: 153 96% 30%; /* #039855 */
    --theme-green-700: 155 97% 24%; /* #027A48 */
    --theme-green-800: 155 90% 20%; /* #05603A */
    --theme-green-900: 156 88% 16%; /* #054F31 */

    --theme-blue-25: 198 100% 98%; /* #F5FCFF */
    --theme-blue-50: 201 100% 96%; /* #EBF8FF */
    --theme-blue-100: 203 89% 89%; /* #CCEAFC */
    --theme-blue-200: 206 88% 83%; /* #AFD9FA */
    --theme-blue-300: 211 89% 71%; /* #74B4F7 */
    --theme-blue-400: 217 91% 60%; /* #3B82F6 */
    --theme-blue-500: 218 70% 52%; /* #306FDB */
    --theme-blue-600: 220 70% 43%; /* #2153B8 */
    --theme-blue-700: 222 75% 33%; /* #153B94 */
    --theme-blue-800: 223 80% 24%; /* #0C286E */
    --theme-blue-900: 225 87% 15%; /* #051647 */

    --theme-sky-25: 192 100% 99%; /* #FAFEFF */
    --theme-sky-50: 198 100% 98%; /* #F5FCFF */
    --theme-sky-100: 199 100% 95%; /* #E6F7FF */
    --theme-sky-200: 202 100% 92%; /* #D4EFFF */
    --theme-sky-300: 206 92% 85%; /* #B3DCFC */
    --theme-sky-400: 212 96% 78%; /* #93C5FD */
    --theme-sky-500: 213 66% 68%; /* #76A7E3 */
    --theme-sky-600: 216 45% 53%; /* #517CBD */
    --theme-sky-700: 218 48% 40%; /* #355996 */
    --theme-sky-800: 220 59% 28%; /* #1E3A73 */
    --theme-sky-900: 222 70% 17%; /* #0D1F4A */

    --theme-neutrals-100: 220 100% 99%; /* #F9FBFF */
    --theme-neutrals-200: 210 10% 88%; /* #DDE0E3 */
    --theme-neutrals-300: 216 4% 77%; /* #C2C4C7 */
    --theme-neutrals-400: 210 3% 66%; /* #A6A9AC */
    --theme-neutrals-500: 216 2% 55%; /* #8B8D90 */
    --theme-neutrals-600: 216 2% 45%; /* #6F7174 */
    --theme-neutrals-700: 216 4% 23%; /* #383A3D */
    --theme-neutrals-800: 210 6% 12%; /* #1D1F21 */
    --theme-neutrals-900: 210 67% 1%; /* #010305 */
  }
}

::after,
::before,
body {
  @apply font-exo_2;
}

::-webkit-scrollbar {
  display: none;
}

.shimmer {
  @apply relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1.5s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/10 before:to-transparent;
}

.side_menu{ height: calc(100vh - 150px);}
.prof_le{ position:relative !important; width: 20px !important; height: 20px !important;}
input:focus, select:focus{ box-shadow: none !important;}

.respon_sive_tabs button {
  padding: 7px 8px !important;
}
.feed_list .feedl_ist {
  width: 100% !important;
  min-width: 100px !important;
}
/* @media (max-width: 1200px) {
.feed_list { display: grid;}
} */

@media (max-width: 600px) {
.input_Row{gap: 5px !important; padding: 0 10px !important; height: 54px !important;}


.input_Row select{font-size: 16px !important;
  padding: 0 19px 0px 0 !important;
  background-position: 111% center !important;}
  .input_Row .sub_t{ font-size: 18px; width: 70px;}
  .input_Row  input{ height: 51px !important;}
  .contain_er{ padding:50px 0px !important; margin: 0px !important;}
  .respon_sive_tabs button {
    padding: 7px 4px !important; font-size: 12px;
  }
  .max_wdth {
    max-width: 1000px !important;
    margin: 34px auto 0 auto;
    width: 100%;
  }
}

@layer components {
  .content-container-with-tab-panel {
    @apply h-auto min-h-screen w-full max-w-full flex-1 px-6 lg:min-w-[calc(100%-var(--tabpanel-width))] lg:max-w-[calc(100%-var(--tabpanel-width))];
  }
}
